{% extends 'SchedulerApp/header.html' %}

{% block content %}
<style>
  #form-control {

  }

  footer {
    
  }
</style>



  <form class="text-center" action="{% url 'SchedulerApp:processmainform' %}" method="POST">
    {% csrf_token %}

    {% for i in prelim1 %}
      <label>Course {{ forloop.counter }}</label>
      <input type="text" name="course" placeholder="Enter course name" />
      <br/>
    {% endfor %}

    <input class="btn btn-primary" type="submit" value="Submit" />
  </form>


{% endblock %}
