{% extends 'SchedulerApp/header.html' %}

{% block content %}

<style>

</style>

  <div class="container">
    <h1 class="text-primary">Form Instructions:</h1><br/>
    <p style="font-family:verdana">
      In the form below, you will enter your courses on the left hand column, and the<br/>
      corresponding prerequisites in the right-hand column (separated by commas).<br/><br/>
      If there are no prerequisites for a given course, or you've fulfilled all prerequisites please enter <span style="color:red">"none" </span>
      <br/> in the appropriate prequisite box.
      <br/><br/>
      Please check the <span style="color:red">"flag"</span> checkbox if the course can be taken simultaneously with its prerequisites.
      <br/><br/>
      <span style="color: red">Note:</span>
      Keep your naming conventions uniform. Do not name a course one thing, then decide midway-through,<br/>
      to name it something else; the system will NOT recognize the two courses as the same.
      <br/><br/>
      If there are courses that have equivalent prerequisites (i.e. course = cse3500 w/ prereqs -> cse2100
      <span style="color:red">OR</span> cse2050), <br/>
      choose only one of the two prereqs for use throughout the form. They are the same to you, but different to the system.
      <br/><br/>
      Lastly, if you initially selected the incorrect # of courses, it's ok! Not all rows need to be filled.
      <hr style="border-color:black"/>
    </p>
  </div>


  <form class="text-center" action="{% url 'SchedulerApp:process_main_form' %}" method="GET">
    {% csrf_token %}

    {% for i in prelim1 %}
      <label>
        Course {% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }}
        <input style="margin-left:5px" type="text" name="course {{ forloop.counter }}" placeholder="Enter course name" maxlength="50" />
      </label>

      <label style="margin-left:15px">
        Prerequisites for Course {% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }}
        <input style="margin-left:5px" type="text" name="prereqval {{ forloop.counter }}" placeholder="cse3500, hdfs1060, etc." maxlength="50" />
      </label>

      <label style="margin-left:20px">
        Flag for Course {% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }}
        <input style="margin-left:5px" type="checkbox" name="flag {{ forloop.counter }}" value="flag {{ forloop.counter }}"/>
      </label>
      <br/>
    {% endfor %}
    <br/>
    <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
  </form>


{% endblock %}
