<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>College Schedule Builder</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="icon" type="image/png" href="/static/SchedulerApp/images/favicon-32x32.png" />
	<link rel="stylesheet" href="{% static 'SchedulerApp/css/bootstrap.min.css' %}" type="text/css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	<link href="https://fonts.googleapis.com/css?family=Cherry+Swash" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="Scheduler/Scheduler/SchedulerApp/static/images/sample_logo2.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="style.css">

	<style type="text/css">
		html, body {
		  margin-top: 40px;
		  background-color: #EBEBEB;

		}
		.navbar {
			height: 65px;
		}

		footer {
			bottom: 0;
			background: black;
    	padding: 10px 0 10px 0;
    	margin-top: 30px;
			margin-right: -30px;
			width: 100%;
			color: #D6D5D4;

		}

		.big-font {
			font-size: 25px;
		}

		#block-content {
			margin-right: -30px;
			margin-left: -30px;
			margin-top: -30px;
		}

	</style>

</head>

<body>
	<div class="container-fluid">

		<div class="navbar navbar-fixed-top navbar-inverse bg-inverse">
			<div class="container" id="nav">

				<div class="row">
					<div class="col-md-8">
						<div class="navbar-header"> <!--to contain logo and links-->
							<a class="navbar-brand" href="/SchedulerApp">
								<h2 style="margin-top:-5px;">
									<img src="{% static 'SchedulerApp/images/sample_logo2.png' %}" class="responsive-img" style="max-height:50px" alt="sample_logo">
									College Schedule Builder
								</h2>
							</a>
						</div>
					</div>

					<div class="col-md-4">
						<div id="navigation-links">
							<ul class="nav navbar-nav big-font">

								<li><a href="/SchedulerApp">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
				</div> <!--	row -->

			</div> <!-- container -->
		</div> <!-- navigation -->

		<br />
	</div> <!-- container-fluid -->

	<!--rest of the body after nav bar-->
	<div class="container-fluid">
		{% block content %}
		{% endblock %}
	</div>


	<!--the footer section-->
	<footer>
		<div cass="container-fluid">
				<div id="info" class="text-center">
					<h4>Written and coded by Chelsey E</h4>
					<span>
						<h4>Source code on
						<a href="https://github.com/Cheesly70/Scheduler" target="_blank">
							<i class="fa fa-github"></i> GitHub</h4>
						</a>
					</span>
			</div>
		</div>
	</footer>


</body>


</html>
