{% extends 'SchedulerApp/header.html' %}

{% block content %}

{% load staticfiles %}

<style type="text/css">
  p {
    color: white;
  }

  #intro {
    margin-top: -30px;   /* was previously at -35px and -55px */
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 30px;
    padding-bottom: 10px;

    font-family: Cherry+Swash;
    background-color: #00B2F5;
  }

  #students-img {
    margin-left: -15px;
    margin-top: 5px;
    margin-right: -10px;
  }

  .big-li {
    font-size: 27px;
  }

  #greybox {
    padding-bottom: 137px;
    padding-left: 25px;
    padding-top: 40px;
    background-color: #CFCFCF;
    font-family: Cherry+Swash;
  }


</style>

  <div class="text-center container-fluid" id="intro">
    <p class="big-font">
      Do you have a bunch of interesting college courses you want to take?<br/>
      Are you unsure of what order you can and should take them in?<br/>
      Well then you've come to the right place!<br/><br/>
      <span style="color:#DC2D07"><b>Whenever you're ready!</b></span><br/>
      <br/>
      <a class="btn btn-default btn-danger btn-lg" href="#start-button">Start Building Your Schedule Now</a>
      <!-- this button redirects to a part lower down in the page -->
    </p>
  </div>

  <div class="row">
    <div id="students-img">
      <div class="col-md-7"> <!-- first set of the 6 columns -->
        <img class="responsive-img" src="{% static 'SchedulerApp/images/happy_students.jpg' %}"  alt="students">
      </div>
    </div>
      <div class="col-md-5" id="greybox">
        <div class="text-center"> <!-- second set of 6 columns -->
          <br/>
          <h1 id="start-button">Building Your College Schedule</h1>
          <h3>Starts with the Prelim Form Below:</h3>
          <br/>
          <hr style="border-color:white"/>
          <br/><br/>
        </div>
        <div class="big-li">
          <span><i class="fa fa-arrow-right" aria-hidden="true"></i> Enter the # of courses you're considering</span><br/>
          <span><i class="fa fa-arrow-right" aria-hidden="true"></i> Enter the # of courses you want to take</span><br/>
          <span><i class="fa fa-arrow-right" aria-hidden="true"></i> Click "Let's Begin!"</span><br/>
          <span><i class="fa fa-arrow-right" aria-hidden="true"></i> Follow the upcoming instructions</span>
        </div>
      </div>
    </div>

    <!-- The initial form for # of courses being considered/taken -->
    <div class="text-center" id="prelimform">
      <br/>
      <h2 style="font-family:Cherry+Swash; color:#00B2F5">Preliminary Form</h2>
      <!-- need to check that 2nd # isn't larger than first -->
      <form action="{% url 'SchedulerApp:getmainform' %}" method="GET">
        {% csrf_token %}
        <label for="prelimform" style="Cherry+Swash">Enter the number of courses you're considering</label>
        <input type="number" name="total_load" value="tl" placeholder="10" max="48" min="1" required="required"/>
        <br/>
        <label for="prelimform" style="Cherry+Swash">Enter the number of courses you want to take (i.e. next semester)</label>
        <input type="number" name="desired_load" value="dl" placeholder="5" max="48" min="1" required="required"/>
        <br/><br/>
        <input class="btn btn-default btn-primary" type="submit" value="Let's Begin!" />
        <br/>
      </form>
    </div>



{% endblock %}
