{% extends 'SchedulerApp/header.html' %}

{% block content %}

{% load staticfiles %}

<style type="text/css">
  p {
    color: white;
  }

  #intro {
    padding: 30px 0px 30px 0px;
    margin-top: -30px;
    margin-right: -30px;
    font-family: Cherry+Swash;

    background-color: #00B2F5;
  }

  #students-img {
    max-height: 100px;
    margin-left: -15px;
    margin-top: 5px;

  }
  .big-li {
    font-size: 30px;
  }

  #box {
    position: relative;
    padding: 30px 40px 110px 40px;

    margin-right: -51px;
    margin-bottom: -100px;
    background-color: grey;
    font-family: Cherry+Swash;
  }

</style>

  <div class="text-center container-fluid" id="intro">
    <p class="big-font">
      Do you have a bunch of interesting college courses you want to take?<br/>
      Are you unsure of what order you can and should take them in?<br/>
      Well then you've come to the right place!<br/><br/>
      <span style="color:#F2570A">Whenever you're ready!</span><br/>
      <br/>
      <a class="btn btn-default btn-danger btn-lg" href="#">Start Building Your Schedule Now</a>
      <!-- this button redirects to a part lower down in the page -->
    </p>
  </div>

  <div class="row container-fluid">
    <div id="students-img">
      <div class="col-md-7"> <!-- first set of the 6 columns -->
        <img src="{% static 'SchedulerApp/images/happy_students.jpg' %}" class="responsive-img"  alt="students">
      </div>
    </div>
      <div class="col-md-5" >
        <div class="text-center" id="box"> <!-- second set of 6 columns -->
          <h1>Building Your College Schedule</h1>
          <h2>Starting in the two boxes below:</h2>
          <br/>
          <hr/>
        </div>
        <div>
          <div class="big-li" id="box">
            <i class="fa fa-arrow-right" aria-hidden="true"> Enter the # of courses you're considering</i>
            <i class="fa fa-arrow-right" aria-hidden="true"> Enter the # of courses you want to take</i>
            <i class="fa fa-arrow-right" aria-hidden="true"> Click submit</i>
            <i class="fa fa-arrow-right" aria-hidden="true"> Follow the remaining instructions below</i>
          </div>
        </div>
      </div>
    </div>









{% endblock %}
